:root {
    --primary-bg-color: #1e1a18;
    --primary-bg-color-translucent: rgba(255, 255, 255, 0);
    --primary-text-color: #ece4d9;
    --link-color: #77a4a5;
    --announcement-bg-color: #d1992a;
    --primary-bg-color-lighten50: #a6978f;
    --primary-bg-color-opacity50: rgba(30, 26, 24, 0.5);
  }
  