<section>
  <div class="wrapper-padded">
    <div class="title-wrapper">
      <h2>GREATESTS HITS</h2>
    </div>
    <div class="grid-container">
      <ng-container *ngFor="let item of greatestsHits, let i = index">
        <div class="grid-item">
          <div class="item">
            <div class="image-container">
              <img
                [src]="item.image"
                alt="coffe-{{i}}"
              />
            </div>
            <div class="info">
                <p class="name">
                    {{item.name}}
                  </p>
                  <p class="price">From: ${{item.price}}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
