section {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  background-color: var(--primary-text-color);
  .wrapper-padded {
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    .title-wrapper {
      text-align: center;
      animation: fade-in linear forwards;
      animation-timeline: view(300px 0px);
      animation-range: normal;
      h2 {
        font-size: 32px;
        font-family: "LilitaOne";
        color: var(--primary-bg-color);
        margin-top: 0;
      }
    }
    .grid-container {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      .grid-item {
        width: 25%;
        height: auto;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: entry;
        .item {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          box-sizing: border-box;
          height: 100%;
          width: 100%;
          padding: 30px;
          text-align: center;
          color: var(--primary-bg-color);
          font-size: 13px;
          font-family: "WorkSans";
          border-radius: 25px;
          transition: all 300ms;
          &:hover {
            background-color: rgb(119, 164, 165, 0.75);
          }
          .image-container {
            img {
              width: 100%;
              height: 100%;
              background-position: center;
              background-size: cover;
            }
          }
          .info {
            .name {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
@keyframes fade-in {
  from {
    opacity: 0.25;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media screen and (max-width: 1440px) {
  .grid-item {
    width: 33.333% !important;
  }
}
@media screen and (max-width: 768px) {
  .title-wrapper {
    animation: none !important;
  }
  .grid-item {
    animation: none !important;

    width: 50% !important;
  }
}
@media screen and (max-width: 425px) {
  .grid-item {
    width: 100% !important;
    .item {
      padding-bottom: 0 !important;
    }
  }
}
