<section>
    <div class="image-wrapper">
        <img src="https://portrait.coffee/cdn/shop/files/Artboard_1_93a8fd87-7fa3-4926-9e68-fe3d0ff16e1a_1100x.png?v=1692981064" alt="homepage image">
        <div class="text-wrapper">
            <span>Join us in</span>
            <span class="reveal">pouring</span>
            <span>a new narrative</span>
            <button>
                <a href="">
                    Shop now
                </a>
            </button>
        </div>
    </div>
</section>