<div class="side-menu" [ngClass]="{ show: showSideMenu }">
  <div class="side-menu-logo">
    <button (click)="toggleMenu()">
      <fa-icon [icon]="fa"></fa-icon>

    </button>
  </div>

  <ul class="side-menu-main-list">
    <!-- Start of item list component  -->
    <ng-container *ngFor="let item of itemList; let i = index">
      <app-list-item [data]="item" [elementNumber]="i"></app-list-item>
    </ng-container>
    <!-- End of item list component  -->
  </ul>
  <div class="side-menu-footer">
    <button (click)="toggleMenu()">Cerrar menú</button>

  </div>
</div>
