li {
    list-style: none;
    padding: 7px 0;
    // width: 100%;
    width: fit-content;
.sub-dropdown-link {
  color: var(--primary-text-color);
  text-decoration: none;
  letter-spacing: 0.5px;

  .sub-dropdown-link-wrapper {
    transition: color 300ms;
    &:hover {
      span {
        color: var(--announcement-bg-color);
        &::before {
          width: 100%;
        }
      }
    }

    span {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--announcement-bg-color);
        transition: width 300ms;
      }
    }
  }
}
}