<header>
  <div class="site-header">
    <div class="wrapper-left">
      <div class="top-links">
        <ul>
          <li>
            <a class="link" href=""
              ><div class="link-wrapper"><span>Shop</span></div></a
            >
          </li>
          <li>
            <a class="link" href=""
              ><div class="link-wrapper"><span>Learn</span></div></a
            >
          </li>
          <li>
            <a class="link" href=""
              ><div class="link-wrapper"><span>Wholesale</span></div></a
            >
          </li>
          <li>
            <a class="link" href=""
              ><div class="link-wrapper"><span>Connect</span></div></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="wrapper-center">
      <div class="logo-wrapper">
        <h1 class="site-title">
          <a href="/" class="logo-image">
            <div class="responsive-image-wrapper">
                <img loading="lazy" src="https://portrait.coffee/cdn/shop/files/Primary_Logo_-_Cream_-_Transparent_550x.png?v=1653656599" alt="">
            </div>
          </a>
          <a href="/" class="logo-overlay-image"></a>
        </h1>
      </div>
    </div>
    <div class="wrapper-right">
      <div class="top-links">
        <ul>
          <li>
            <a class="link" href=""
              ><div class="link-wrapper"><fa-icon [icon]="faSearch"></fa-icon> <span>Search</span></div></a
            >
          </li>
          <li>
            <a class="link" href=""
              ><div class="link-wrapper"><fa-icon [icon]="faUser"></fa-icon><span>Account</span></div></a
            >
          </li>
          <li>
            <a class="link" href=""
              ><div class="link-wrapper"><fa-icon [icon]="faShoppingCart"></fa-icon><span>Link</span></div></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
