<header directiveScrollOpacity>
  <div class="site-header">
    <div class="wrapper-left">
      <div class="top-links">
        <ul>
          <li>
            <a class="link" href=""
              ><div class="link-wrapper"><span>Shop</span></div>
              <ul class="dropdown dropdown-w-icons" directiveDropdownHover>
                <li>
                  <a class="dropdown-link" href=""
                    ><div class="dropdown-link-wrapper">
                      <span>Coffee </span>
                      <fa-icon [icon]="faChevronRight"></fa-icon>
                    </div>
                    </a
                  >
                  <ul class="dropdown sub-dropdown">
                    <li>
                      <a class="sub-dropdown-link" href=""
                        ><div class="sub-dropdown-link-wrapper">
                          <span>Classic Coffees</span>
                        </div></a
                      >
                    </li>
                    <li>
                      <a class="sub-dropdown-link" href=""
                        ><div class="sub-dropdown-link-wrapper">
                          <span>Single Origins</span>
                        </div></a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-link" href=""
                    ><div class="dropdown-link-wrapper">
                      <span>Coffee Club</span>
                      <fa-icon [icon]="faChevronRight"></fa-icon>
                    </div></a
                  >
                  <ul class="dropdown sub-dropdown">
                    <li>
                      <a class="sub-dropdown-link" href=""
                        ><div class="sub-dropdown-link-wrapper">
                          <span>Join The Club</span>
                        </div></a
                      >
                    </li>
                    <li>
                      <a class="sub-dropdown-link" href=""
                        ><div class="sub-dropdown-link-wrapper">
                          <span>Manage Your Subscription</span>
                        </div></a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-link" href=""
                    ><div class="dropdown-link-wrapper">
                      <span>Gifts </span>
                      <fa-icon [icon]="faChevronRight"></fa-icon>
                    </div></a
                  >
                  <ul class="dropdown sub-dropdown">
                    <li>
                      <a class="sub-dropdown-link" href=""
                        ><div class="sub-dropdown-link-wrapper">
                          <span>Gift a Coffee Subscription</span>
                        </div></a
                      >
                    </li>
                    <li>
                      <a class="sub-dropdown-link" href=""
                        ><div class="sub-dropdown-link-wrapper">
                          <span>Gift a Gift Card</span>
                        </div></a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-link" href=""
                    ><div class="dropdown-link-wrapper">
                      <span>Goods </span>
                      <fa-icon [icon]="faChevronRight"></fa-icon>
                    </div></a
                  >
                  <ul class="dropdown sub-dropdown">
                    <li>
                      <a class="sub-dropdown-link" href=""
                        ><div class="sub-dropdown-link-wrapper">
                          <span>Brewing Equipment</span>
                        </div></a
                      >
                    </li>
                    <li>
                      <a class="sub-dropdown-link" href=""
                        ><div class="sub-dropdown-link-wrapper">
                          <span>Merchandise</span>
                        </div></a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-link" href=""
                    ><div class="dropdown-link-wrapper">
                      <span>Shop All</span>
                    </div></a
                  >
                </li>
              </ul></a
            >
          </li>
          <li>
            <a class="link" href=""
              ><div class="link-wrapper"><span>Learn</span></div>
              <ul class="dropdown" directiveDropdownHover>
                <li>
                  <a class="dropdown-link" href=""
                    ><div class="dropdown-link-wrapper">
                      <span>Blog</span>
                    </div></a
                  >
                </li>
                <li>
                  <a class="dropdown-link" href=""
                    ><div class="dropdown-link-wrapper">
                      <span>Contact Us</span>
                    </div></a
                  >
                </li>
                <li>
                  <a class="dropdown-link" href=""
                    ><div class="dropdown-link-wrapper">
                      <span>FAQ</span>
                    </div></a
                  >
                </li>
              </ul></a
            >
          </li>
          <li>
            <a class="link" href=""
              ><div class="link-wrapper"><span>Wholesale</span></div>
              <ul class="dropdown" directiveDropdownHover>
                <li>
                  <a class="dropdown-link" href=""
                    ><div class="dropdown-link-wrapper">
                      <span>Login</span>
                    </div></a
                  >
                </li>
                <li>
                  <a class="dropdown-link" href=""
                    ><div class="dropdown-link-wrapper">
                      <span>Wholesale Inquiry</span>
                    </div></a
                  >
                </li>
              </ul></a
            >
          </li>
          <li>
            <a class="link" href=""
              ><div class="link-wrapper"><span>Connect</span></div>
              <ul class="dropdown" directiveDropdownHover>
                <li>
                  <a class="dropdown-link" href=""
                    ><div class="dropdown-link-wrapper">
                      <span>About Us</span>
                    </div></a
                  >
                </li>
                <li>
                  <a class="dropdown-link" href=""
                    ><div class="dropdown-link-wrapper">
                      <span>Cafe</span>
                    </div></a
                  >
                </li>
                <li>
                  <a class="dropdown-link" href=""
                    ><div class="dropdown-link-wrapper">
                      <span>Careers</span>
                    </div></a
                  >
                </li>
                <li>
                  <a class="dropdown-link" href=""
                    ><div class="dropdown-link-wrapper">
                      <span>Press</span>
                    </div></a
                  >
                </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="wrapper-center">
      <div class="logo-wrapper">
        <h1 class="site-title">
          <a href="/" class="logo-image">
            <div class="responsive-image-wrapper">
              <img
                loading="lazy"
                src="https://portrait.coffee/cdn/shop/files/Primary_Logo_-_Cream_-_Transparent_550x.png?v=1653656599"
                alt=""
              />
            </div>
          </a>
          <a href="/" class="logo-overlay-image"></a>
        </h1>
      </div>
    </div>
    <div class="wrapper-right">
      <div class="top-links">
        <ul>
          <li>
            <a class="link" href=""
              ><div class="link-wrapper">
                <fa-icon [icon]="faSearch"></fa-icon> <span>Search</span>
              </div></a
            >
          </li>
          <li>
            <a class="link" href=""
              ><div class="link-wrapper">
                <fa-icon [icon]="faUser"></fa-icon><span>Account</span>
              </div></a
            >
          </li>
          <li>
            <a class="link" href=""
              ><div class="link-wrapper">
                <fa-icon [icon]="faShoppingCart"></fa-icon><span>Cart</span>
              </div></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
