@import "../../../styles.scss";

header {
  position: sticky;
  top: -1px;
  z-index: 1000;
  transition: background-color 500ms, border-bottom 500ms;
  background-color: var(--primary-bg-color-translucent);
  &.translucent {
    background-color: var(--primary-bg-color);
    border-bottom: 1px solid var(--primary-bg-color);
  }
  &:hover {
    background-color: var(--primary-bg-color);
    border-bottom: 1px solid var(--primary-bg-color);
  }
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 15px;
  font-family: "custom-font";
  font-size: 14px;
  .wrapper-left {
    display: flex;
    flex: 1 1 100%;
    .top-links {
      display: flex;
      align-items: center;
      ul {
        margin: 0;
        padding: 0;
        display: inline-flex;
        list-style: none;
        text-decoration: none;
        li {
          display: inline-block;
          .link {
            color: var(--primary-text-color);
            display: inline-block;
            text-decoration: none;
            letter-spacing: 0.5px;
            position: relative;
            padding: 15px;
            transition: color 300ms;
            .link-wrapper {
              position: relative;
              span {
                padding-bottom: 4px;
              }
              &:hover {
                color: var(--announcement-bg-color);
                &::before {
                  width: 100%;
                }
              }
              &::before {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 1px;
                background-color: var(--announcement-bg-color);
                transition: width 300ms;
              }
            }
          }
        }
      }
    }
  }
  .wrapper-center {
    flex-basis: 100px;
    align-self: center;
    .logo-wrapper {
      .site-title {
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
        font-size: 18px;
        padding: 30px 0;
        .logo-image {
          display: block;
          .responsive-image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              max-width: 2800px;
              max-height: 2800px;
              width: 100px;
              height: 100px;
              object-fit: cover;
              margin: 0 auto;
              display: inline-block;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
  .wrapper-right {
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-end;
    .top-links {
      display: flex;
      align-items: center;
      ul {
        margin: 0;
        padding: 0;
        display: inline-flex;
        list-style: none;
        text-decoration: none;
        li {
          display: inline-block;
          .link {
            color: var(--primary-text-color);
            display: block;
            text-decoration: none;
            letter-spacing: 0.5px;
            position: relative;
            padding: 15px;
            transition: color 300ms;
            &:hover {
              color: var(--announcement-bg-color);
            }
            .link-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              fa-icon {
                font-size: 18px;
              }
              span {
                padding-left: 5px;
              }
            }
          }
        }
      }
    }
  }
}
