<div
  class="side-menu-search"
  [ngClass]="{ show: showSideSearchMenu, mobile: isMobile }"
>
  <div class="side-menu-logo">
    <span>Search</span>
    <button (click)="toggleSearchMenu()">
      <fa-icon [icon]="faXmark"></fa-icon>
    </button>
  </div>

  <div class="side-search-wrapper">
    <div class="search-drawer">
      <fa-icon class="search" [icon]="faSearch"></fa-icon>
      <input
        placeholder="Search our store"
        (keypress)="search()"
        class="search-input"
        type="text"
        [formControl]="searchControl"
      />
      <fa-icon
        (click)="clearSearch()"
        class="delete"
        [icon]="faXmark"
      ></fa-icon>
    </div>
    <ng-container *ngIf="isSearching">
      <div class="loading-items-wrapper">
        <fa-icon [icon]="faCircleNotch"></fa-icon>
      </div>
    </ng-container>
    <ng-container *ngIf="nothingFound">
      No hay resultados para su busqueda
    </ng-container>

    <ng-container *ngFor="let item of $filteredPageInfo | async">
      <app-menu-item [item]="item"></app-menu-item>
    </ng-container>
  </div>
</div>
